<div class="modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">提示</h4>
            </div>
            <div class="modal-body" style="text-align: center">
                <p>This is the last question, do you want to add more questions?</p>
            </div>
            <div class="modal-footer" style="text-align: center">
                <button type="button" class="btn btn-primary" ng-click="operation()">Add</button>
                <button type="button" class="btn btn-default" ng-click="$hide()">{{'cancel' | translate}}</button>
            </div>
        </div>
    </div>
</div>