<div class="container"
     ng-class="{'truth-bg': type == 'truth', 'dare-bg': type == 'dare'}"
        >
    <div style="position: relative; height: 100vh">
        <div ng-if="pageFlag == 'question'"
             class="center"
                >
            <div class="card-container" ng-swipe-left="swipeLeft()" ng-swipe-right="swipeRight()">
                <div class="card-bottom">loading...</div>
            </div>
            <div class="tool">
                <span ng-click="toggleType()" ng-if="type == 'truth'">Dare</span>
                <span ng-click="toggleType()" ng-if="type == 'dare'">Truth</span>
                <span ng-click="restoreQuestions()" style="float: right">
                    <i class="fa fa-repeat"></i>
                </span>
            </div>
        </div>
        <div ng-if="pageFlag == 'addQuestion'"
             class="center"
                >
        <textarea
                rows="3"
                placeholder="Type your questions here..."
                ng-model="newQuestion.question"
                >
        </textarea>
            <select
                    class="form-control"
                    ng-model="newQuestion.type"
                    ng-options="type as type for type in types"
                    >
            </select>
            <button ng-click="addQuestion()">Submit</button>
            <button ng-click="showQuestion()">Cancel</button>
        </div>
    </div>
</div>